modules = ["nodejs-24", "python-3.11"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 18115
externalPort = 3000

[userenv]

[userenv.shared]
EXPO_PUBLIC_FIREBASE_API_KEY = "AIzaSyC_IOoaskS-CO6oupaTlJmTKAO5iQwZTpk"
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN = "tabbakheen-99883.firebaseapp.com"
EXPO_PUBLIC_FIREBASE_PROJECT_ID = "tabbakheen-99883"
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET = "tabbakheen-99883.firebasestorage.app"
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID = "869616884436"
EXPO_PUBLIC_FIREBASE_APP_ID = "1:869616884436:web:998ce15115d8c9cb5ff941"

[nix]
